.projects__hideProject {
    display: none !important;
}

.projects__container {
    display: flex;
    height: 24rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects__article {
    width: auto;
    width: 456px;
    min-width: 456px;
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid var(--color-primary);
    background-color: var(--color-bg-variant);
    transition: var(--transition);
    margin-bottom: 2rem;
}

.projects__article:hover {
    background-color: transparent;

}

.projects__item-image-container {
    float: right;
    width: 50%;
    border-radius: 2.4rem;
    /* background-color: var(--color-primary-variant); */
    height: 100%;
}

.projects__headline {
    margin-bottom: 0.8rem;
}

.projects__item {
    height: 13rem;
}

.projects__item-image {
    border-radius: 2.4rem;
    aspect-ratio: 1 / 1;

}

.projects__item-cta {
    display: inline-block;
    border-radius: 1.5rem;
    max-width: 50%;
    height: 100%;
}

.projects__tags {
    margin-top: 0.6rem;
}

.projects__tag {
    width: max-content;
    display: inline-block;
    margin-right: 0.2rem;
    margin-top: 0.3rem;
    color:grey;
    background-color: whitesmoke;    
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 6rem;
    cursor: pointer;
    border: 1px solid black;
    transition: var(--transition);
}

.projects__item-link {
    display:flex;
    margin-top: 0.7rem;
    padding: 0.8rem;
}

.projects__text {
    margin-top: 0.7rem;
}

.projects__tag:hover {
    color: black;
    background: grey;
}

.projects__tagSelected {
    color: black;
    background: green;
}
.projects__tagSelected::after {
    padding-left: 1rem;
    
}
.projects__tagSelected:hover {
    color: black;
    background: crimson;
}

.svg__flex {
    display: flex;
    flex-direction: column;
}

/* TABLET MEDIA QUERIES */

@media screen and (max-width: 1024px) {

}

/* PHONES MEDIA QUERIES */

@media screen and (max-width: 600px) {

}