.image__container {
    background: linear-gradient(white, transparent);
    width: 22rem;
    position: relative;
    left: calc(50% - 11rem);
    border-radius: 12rem 12rem 0 0;
    margin-top: 3rem;
}

.about__cta {
    padding-top: 2rem;
}

.about__cta > a {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0)
}

.skills__container {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__skill {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 1rem;
    padding: 0.7rem;
    border-radius: 1rem 1rem;
    background: var(--color-bg-variant);
}

.skills__fullBar {
    margin-left: 16px;
    height: 10px;
    width: 180px;
}

.skills__rect {
    height: 10px;
    width: 0px;
    transition: var(--transition);
}

.experiences__container {
    display: flex;
    margin-top: 4rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.experiences__experience {
    background: crimson;
    width: 30rem;
    padding: 1.5rem;
    border-radius: 2rem;
    height: 18rem;
}

.experiences__item-image-container {
    float: left;
    width: 6rem;
    margin-right: 1rem;
    border-radius: 0.4rem;
    /* background-color: var(--color-primary-variant); */
}

.experiences__header {
    height: max-content;
}