header {
    height: 100vh;
    overflow: hidden;
}

.header__container {
    text-align: left;
    height: 100%;
    vertical-align: middle;
    padding-top: 12rem;
    /* position: relative; */
}

header > svg {
    position: absolute;
    z-index: -1;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.typewriter::after {
    content: "_";
    opacity: 1;
    transition: opacity 2s ease-out;
}

.typewriter-blink::after {    
    animation: blink .85s infinite;
}

.typewriter-fade-out::after {
    opacity: 0;
}

/* CTA */

/* .cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
} */