header {
    overflow: hidden;
}

.header__container {
    position: relative;
    pointer-events: none;
    z-index: 2;
    text-align: left;
    height: 160px;
    vertical-align: middle;
    margin-top: 6rem;
    /* position: relative; */
}

header > svg {
    position: absolute;
    z-index: -1;
}

.header__socials {
    position: relative;
    z-index: 2;
    float: right;
    margin-right: 3rem;
    margin-top: 2rem;
}

.header__socials a {
    color: var(--color-primary);
}
.header__socials a:hover {
    color: white;
}


@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* CTA */

/* .cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
} */