header {
    overflow: hidden;
}

.header__container {
    text-align: left;
    height: 314.39px;
    vertical-align: middle;
    padding-top: 12rem;
    /* position: relative; */
}

header > svg {
    position: absolute;
    z-index: -1;
}

.header__socials {
    float: right;
    margin-right: 3rem;
    margin-top: 2rem;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* CTA */

/* .cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
} */